{% extends 'base.html.twig' %}
{% block title %}
    New user | Purecircle Report
{% endblock %}

{% block stylesheets %}

    {{parent()}}



    {% stylesheets
                
               filter="cssrewrite" 
    %}

    <link  rel="stylesheet" href="{{asset_url}}"  />
    {% endstylesheets %}    

{% endblock %}
{% block body %}
    <!--header start -->

    <body class="login-body">
    <div class="container">
        <a style="margin-left:45%;font-size:13px" href="{{path('purecircle_main')}}" class="logo" >Pure<span>Circle</span></a>
      

    </div>

Admin Dashboard

  
    </body>
  









{% endblock %}


{% block javascripts %}

    {{parent()}}
    



    {%javascripts 
          
    %} 




    {%endjavascripts %} 

{% endblock %}



